 <div class="input">
    <input type="password" name='password' placeholder="Mot de passe *" />
 </div>
 <div class="input">
    <input type="password" name='password_confirmation' placeholder="Confirmation du mot de passe *"/>
 </div>
