<div class="panier-widget">
	<section>
		<header>MON PANIER</header>
		<div class="delivery clearfix">
			<p>
				Votre commande sera disponible
			</p>
			<div class="delivery_widget">
				<div class="delivery_mode_container clearfix">
					<span class="delivery_mode_change">
					</span>			
				</div>
				<div class="tab-content">
					<div id='tab-delivery' class="delivery_code_container clearfix delivery-tab hidden">
						<p>
							Votre code postal:
						</p>
						<span class="delivery_code_value"> - </span>
						<span class="delivery_code_change">
						</span>
					</div>
					<div id="tab-take_away" class='delivery-tab'></div>
				</div>
			</div>
		</div>
		<div class="custom_wrapper clearfix">
			<h5>RECAPITULATIF DE COMMANDE</h5>
		  <div class="widget_cart_div" data-button-title="VALIDER MA COMMANDE" data-url="/cms_prospect/checkout/address"></div>
		</div>
	</section>
</div>