<div class="e-commerce-breadcrumb">
	<ul>
		<li class="col-md-3 first {% if page.fullpath == "ecommerce/connexion" %} active {% endif%}"><a href="/ecommerce/connexion">CONNEXION</a></li>
		<li class="col-md-3 {% if page.fullpath == "ecommerce/coordonnees" %} active {% endif%}"><a href="/ecommerce/coordonnees">COORDONNEES</a></li>
		<li class="col-md-3 {% if page.fullpath == "ecommerce/cart" %} active {% endif%}"><a href="/ecommerce/cart">RECAPITULATIF</a></li>
		<li class="col-md-3 {% if page.fullpath == "ecommerce/paiement" %} active {% endif%}"><a href="#">PAIEMENT</a></li>
	</ul>
</div>
