<div class="col-md-12">
	<div class='e-commerce-mon-compte-sidebar'>
		<section>
			<header>VOTRE ESPACE CLIENT</header>
			<aside>
				<ul>
					<li class="{% if page.fullpath == "ecommerce/mon-compte/coordonnees" %} active {% endif%}"><a href="/ecommerce/mon-compte/coordonnees">Adresse de livraison</a></li>
					<li class="{% if page.fullpath == "ecommerce/mon-compte/informations-personnelles" %} active {% endif%}"><a href="/ecommerce/mon-compte/informations-personnelles">Email et mot de passe</a></li>
					<li class="{% if page.fullpath == "ecommerce/mon-compte/commandes" %} active {% endif%}"><a href="/ecommerce/mon-compte/commandes">Mes dernières commandes</a></li>
				</ul>
			</aside>
		</section>
	</div>
</div>
