<div id="header">
  <!-- slider -->
  {% block 'top' %}
  <div id="top-slider">
    {% include 'slider' %}
  </div>
  {% endblock %}

  <div class="container-fluid">
     <!-- tel -->
    <div class="row w960">
      <h2 class="pull-right bg-style-1 round"><span class=""></span> 01.01.01.01.01</h2>
    </div>

    <!-- logo + menu   -->
    <header>
        <!-- menu -->
        <nav class="navbar navbar-default " role="navigation">
            
          <div class="w960">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
              <ul class="nav navbar-nav w960">
 
                <li id="logo">
                  <a href="/index" title="Chez Luna" rel="home">
                  <img href="/" width="186px" title="Chez Luna" rel="home" src="{{'logo-rd.jpg' | theme_image_url }}"/>
                  </a>
                 </li>
                  {% include 'menu' %}
                  <!-- mon compte -->
                  {% if current_prospect %}
                    <li id="my_account" class="dropdown">
                      <a href="#" class='dropdown-toggle theme-color-3' data-toggle='dropdown'> Mon compte <span class='caret'></span></a>
                      <div class="dropdown-menu" role="menu">
                      <span class='caret'></span>
                        <ul >
                          <li><a href="/ecommerce/mon-compte">Mon espace client</a></li>
                          <li><a href="/ecommerce/mon-compte/commandes">Mes commandes</a></li>
                          <li><a href="/cms_prospect/logout">Déconnexion</a></li>
                        </ul>
                      </li>
                    </div>
                    {% else %}
                    <li class="dropdown">
                      <a href="#" class='dropdown-toggle' data-toggle='dropdown'> 
                      <span class='caret'>
                        Connexion à MON COMPTE
                      </span></a>
                    </li>
                    {% endif %}
              </ul>

            </div><!-- /.navbar-collapse -->
          </div>
          
        </nav>
  
    </header>
  </div> <!-- fin container fluid -->
</div> <!-- fin header -->