<li><a  href="/index" {% if page.fullpath == "index" %} class="active" {% endif %}>Accueil</a></li>
<li><a href="/la-carte" {% if page.fullpath == "la-carte" %}class="active"{% endif %}>La carte</a></li>
<li><a href="/les-menus" {% if page.fullpath == "les-menus" %}class="active"{% endif %}>Les menus</a></li>
<li><a href="/livre-d-or" {% if page.fullpath == "livre-d-or" %}class="active"{% endif %}>Livre d'or</a></li>
<li><a href="/contact" {% if page.fullpath == "contact" %}class="active"{% endif %}>Contact</a></li>
<li class="dropdown">
  <a href="#" class='dropdown-toggle' data-toggle='dropdown'>Mon compte <span class='caret'></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/ecommerce/mon-compte">Mon espace client</a></li>
    <li class="divider"></li>
    <li><a href="/cms_prospect/logout">Déconnexion</a></li>
  </ul>
</li>
