.e-commerce-mon-compte-coordonnees .top header {
	margin:						20px 0px 0px 0px;
	color:						$theme-color-1;
	padding:					5px 15px;
	font-size: 				12px;
	font-weight: 			bold;
	border-bottom: 		1px dotted black;
}

.e-commerce-mon-compte-coordonnees .top .content p, .e-commerce-mon-compte-coordonnees .top .content div {
	font-size: 10px;
	padding: 10px;
	color:  $theme-color-0;
  font-weight: bold;
}


.e-commerce-mon-compte-coordonnees .select-area {
	font-size: 10px;
	text-align: right;
	padding-top: 5px;
}
.e-commerce-mon-compte-coordonnees .select-area #visibleo-checkout-address-select {
	width: 100%;
	height: 20px;
	background-color: $theme-color-7;
}

.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form {
	padding: 10px;
	font-size: 12px;
	color:	$theme-color-6;
}

.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group1 .input {
	@extend .col-md-12;
	padding-top: 12px;
}
.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group1 label {
	@extend .col-md-2;
	/*text-align: right;*/
}
.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group1 input {
	@extend .col-md-9;
  @extend .col-md-offset-1;
	padding:0;
}
.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group2 {
	padding: 0 20px;
}

.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group2 .input {
	@extend .col-md-12;
	padding-top: 12px;
}
.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group2 label {
	@extend .col-md-2;
	/*text-align: right;*/
}
.e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .group2 input {
	@extend .col-md-5;
  @extend .col-md-offset-1;
  /*width: 100%;*/
	padding:0;
}


/* YANN */


#visibleo-checkout-address-form .group-one .form-group label{
  @extend .col-md-2;
}

#visibleo-checkout-address-form .group-one .form-group input {
  @extend .col-md-10;
}

#visibleo-checkout-address-form .group-two .left,  #visibleo-checkout-address-form .group-two .right {
  @extend .col-md-6;
}

#visibleo-checkout-address-form .group-two .form-group label {
  @extend .col-md-4;
}

#visibleo-checkout-address-form .group-two .form-group input {
  @extend .col-md-8;
}

.select-alias {
  padding-right: 10px;
  padding-left: 22px;
  font-size: 12px;
}



.input {
  /*padding: 20px 0;*/
}

.e-commerce-mon-compte-coordonnees .add-button, .e-commerce-mon-compte-coordonnees .address #visibleo-checkout-address-form .actions input{
	font-size: 10px;
	color:							$theme-color-7;
	background: 				$theme-color-3;
	background-image:		-moz-linear-gradient(90deg, $theme-color-3, $theme-color-4);
	background-image:		radial-gradient($theme-color-3, $theme-color-4);
	border:							none;
	width:							80px;
	margin: 20px 80px;
}

.e-commerce-mon-compte-coordonnees .add-button{
  /*display: inline-block;*/
  width: 100%;
/*  height: 30px;
  clear: right;*/
}
/*.e-commerce-mon-compte-coordonnees .address p a {
  display: inline-block;
}*/

.e-commerce-mon-compte-coordonnees .address-item {
  margin-bottom: 30px;
}

.e-commerce-mon-compte-coordonnees .address-item a:first-child{
  color: $theme-color-5;
}

.e-commerce-mon-compte-coordonnees .address-item a:last-child{
  color: red;
}
.e-commerce-mon-compte-coordonnees .address-item a {
  text-transform: capitalize;
  font-weight: 200;
}

.e-commerce-mon-compte-coordonnees .address ul li span {
  display: inline-block;
  width: 150px;
}

.e-commerce-mon-compte-coordonnees .address ul {
  padding: 5px 0px;
  border-bottom: 1px solid $theme-color-5;
  border-top: 1px solid $theme-color-5;
}