.e-commerce-breadcrumb ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}

.e-commerce-breadcrumb ul li.first {
	margin-left: 0;
	padding: 8px 15px 8px 0px;
	list-style: none;
	display: inline;
}

.e-commerce-breadcrumb ul li {
	margin-left: 0;
	padding: 8px 15px 8px 0px;
	list-style: none;
	display: inline;
	text-align: center;
}

.e-commerce-breadcrumb ul li.active a {
	display: block;
	background-color: $theme-color-1;
	padding: 8px 9px;
	color:$theme-color-7;
	font-size: 10px;
}

.e-commerce-breadcrumb ul li a {
	display: block;
	background-color: $theme-color-8;	
	padding: 8px 9px;
	color:$theme-color-5;
	text-transform: uppercase;
	font-size: 10px;
}