




#la-carte .add_to_cart .add-button-cart-text {	
	background: $theme-color-3;	
	width: 85px;
	padding: 5px;
	text-transform: uppercase;
	color:$theme-color-7;
}


#la-carte  .add_to_cart .add-button-cart-iconplus{
	background: 			$theme-color-0;
	color:					$theme-color-7;
	width: 					22px;
	padding: 				4px;
	font-weight: 			bold;
	text-align: 			center;
	text-transform: 		uppercase;
	display: 				inline-block;
}


#la-carte .subcategory > header, #la-carte aside header  {
	background: #15dee0;
	font-weight: bold;
	border-bottom-style: double;
	border-bottom-color: black;
	border-bottom-width: 3px;
	padding: 5px 10px;
	font-size: 13px;
	text-transform: uppercase;
}


#la-carte  aside ul 		{													list-style-type: disc; margin-top: 20px; }
#la-carte  aside ul li 		{
	display: 																	list-item;
	color: 																		$theme-color-5;
	margin-left:																20px; 
	margin-top: 																5px;
	padding-left: 																10px;
}
#la-carte  aside ul li.active										{ text-decoration: none;	color: $theme-color-0; }
#la-carte  aside ul li.active a 								{	text-decoration: none;	font-weight: bold;	color: $theme-color-0; }
#la-carte  aside ul li a 												{	text-decoration: none;	color: $theme-color-5; }



#la-carte article, #la-carte p, #la-carte header, #la-carte h3 {
	display: inline-block;
}

#la-carte article{margin: 20px 0px;}
#la-carte header{width:100%;}





